absl-py==0.15.0
affine==2.3.0
ahpy==2.0
albumentations==1.1.0
astunparse==1.6.3
attrs==21.2.0
backcall==0.2.0
Brotli==1.0.9
cached-property==1.5.2
cachetools==4.2.4
catboost==1.0.4
certifi==2021.10.8
charset-normalizer==2.0.7
clang==5.0
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
configparser==5.2.0
contextvars==2.4
cupy==8.6.0
cycler==0.11.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.3.0
dask-cuda==0.19.0
dataclasses==0.8
decorator==4.4.2
distributed==2021.3.0
docker-pycreds==0.4.0
earthpy==0.9.4
efficientnet==1.0.0
efficientnet-pytorch==0.6.3
entrypoints==0.3
fastrlock==0.8
Fiona==1.8.20
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==1.12
fsspec==0.3.3
future==0.18.2
gast==0.4.0
GDAL==3.0.4
geojson==2.5.0
geomet==0.3.0
geopandas==0.9.0
gitdb==4.0.9
GitPython==3.1.18
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.43.0
h5py==3.1.0
HeapDict==1.0.1
html2text==2020.1.16
idna==3.3
image-classifiers==1.0.0
imageio==2.10.3
immutables==0.16
importlib-metadata==4.8.2
IProgress==0.4
ipykernel==5.5.6
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==7.0.6
jupyter-core==4.9.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lightgbm==3.3.2
llvmlite==0.36.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
msgpack==1.0.3
munch==2.5.0
nest-asyncio==1.5.1
networkx==2.5.1
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
opt-einsum==3.3.0
pandas==1.1.5
parso==0.8.2
patchify==0.2.2
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkg_resources==0.0.0
plotly==5.3.1
pretrainedmodels==0.7.4
promise==2.3
prompt-toolkit==3.0.22
protobuf==3.19.1
psutil==5.9.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.2
pydotplus==2.0.2
Pygments==2.10.0
pynvml==11.4.1
pyparsing==3.0.5
pyproj==3.0.1
pyshp==2.2.0
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
qudida==0.0.4
rasterio==1.2.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
segmentation-models==1.0.1
segmentation-models-pytorch==0.2.1
sentinelsat==1.1.0
sentry-sdk==1.5.1
Shapely==1.8.0
shortuuid==1.0.8
six==1.15.0
smmap==5.0.0
snuggs==1.4.7
sortedcontainers==2.4.0
split-folders==0.4.3
subprocess32==3.5.4
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2020.9.3
timm==0.4.12
toolz==0.11.2
torch==1.5.1+cu101
torchsummary==1.5.1
torchvision==0.6.1+cu101
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.26.7
wandb==0.12.9
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.12.1
xgboost==1.5.2
yaspin==2.1.0
zict==2.0.0
zipp==3.6.0
